body,
html {
  height: 100%;
  background: #000;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

#map {
  height: 100vh;
  width: 100vw;
}

#modal {
  display: none;
  position: absolute;
  width: 340px;
  min-height: 339px;
  background-color: #fff;
  padding: 29px 17px 0 17px;
}

#modal::after {
  content: '';
  position: absolute;
  border: 15px solid transparent;
  width: 0;
  height: 0;
  border-top-color: #fff;
  border-bottom-width: 0;
  bottom: -15px;
  left: 50px;
}

.modal__close {
  position: absolute;
  height: 30px;
  width: 30px;
  font-size: 25px;
  right: 5px;
  top: 5px;
  border: none;
  background: #fff;
  cursor: pointer;
  outline: none;
  color: #A9A9A9;
}

.modal__close:hover {
  color: #000;
}

.modal__contant {
  display: flex;
  flex-direction: column;
}

.modal__title {
  font-style: 16px;
  font-weight: 700;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-input {
  width: 310px;
  height: 38px;
  margin-bottom: 10px;
  outline: none;
}

.modal__form-input:focus {
  border: 2px solid #1371C8;
}

.modal__form-input:focus._error {
  border: 2px solid red;
}

.modal__form-review {
  height: 98px;
  width: 310px;
  margin-bottom: 19px;
  resize: none;
  outline: none;
}

.modal__form-review:focus {
  border: 2px solid #1371C8;
}

.modal__form-review:focus._error {
  border: 2px solid red;
}

._error {
  box-shadow: 0 0 5px red;
  border-color: red;
}

.btn,
.hintBtn {
  width: 107px;
  height: 38px;
  color: #fff;
  background: #FF8663;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  margin-bottom: 15px;
}

.btn:hover {
  background: #ff5f33;
  transition: .2s;
}

.modal-list {
  color: #8F8F8F;
  max-height: 112px;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-list__item {
  margin-bottom: 20px;
}

.modal-list__user-name {
  color: #000;
}

#reviewItem {
  margin-bottom: 15px;
}

.balloon-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 165px;
}

._error {
  box-shadow: 0 0 5px red;
  border-color: red;
}